* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #f6e9ff, #fdefff);
    min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 60px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 20px;
    color: #ec4899;
}

nav a {
    margin: 0 14px;
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.nav-actions button {
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.sign-in {
    background: #22d3ee;
    color: #fff;
    margin-right: 10px;
}

.get-started {
    background: linear-gradient(135deg, #8b5cf6, #ec4899);
    color: #fff;
}

/* Hero Section */
.hero {
    padding: 80px 60px;
}

.hero-content {
    max-width: 620px;
}

.badge {
    display: inline-block;
    background: #f3e8ff;
    color: #7c3aed;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 13px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #111;
    margin-bottom: 16px;
}

.hero h1 span {
    color:#08125e

}
 
.hero p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 24px;
}

.features {
    display: flex;
    gap: 12px;
    margin-bottom: 26px;
}

.feature {
    padding: 8px 14px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
}

.women {
    background: #dcfce7;
    color: #16a34a;
}

.sos {
    background: #fee2e2;
    color: #dc2626;
}

.live {
    background: #e0f2fe;
    color: #0284c7;
}

.cta-buttons {
    display: flex;
    gap: 14px;
}

.find-btn {
    background: linear-gradient(135deg, #8b5cf6, #ec4899);
    color: #fff;
    border: none;
    padding: 14px 24px;
    border-radius: 14px;
    font-size: 15px;
    cursor: pointer;
}

.create-btn {
    background: #22d3ee;
    color: #fff;
    border: none;
    padding: 14px 24px;
    border-radius: 14px;
    font-size: 15px;
    cursor: pointer;
}
